@use "abstracts" as *;

@use "base/fonts";
@use "base/globals";

@use "layout/container";

@use "components/nav";
@use "components/button";

@use "sections/hero";
@use "sections/about";
@use "sections/stats";
@use "sections/work";
@use "sections/footer";
