.hero{
  background:$bg-1;
  width:100%;
  min-height:750px;

  .container{ padding-top:79px; }
  .hero-inner{ }

  .hero-copy{ margin-top:162px; max-width:560px; }

  .hero-title{
    @include title(48px);
    margin:0 0 60px;
  }

  .hero-text{
    margin:0 0 65px;
    font-size:16px;
    line-height:164.1%;
    color:$muted;
  }

  @include respond(lg){
    min-height:auto;
    .hero-inner{ padding-left:60px; padding-right:40px; }
    .hero-copy{ margin-top:90px; }
  }

  @include respond(md){
    .hero-inner{ padding-left:32px; padding-right:32px; }
    .hero-copy{ margin-top:60px; max-width:560px; }
    .hero-title{ font-size:36px; line-height:1.3; }
    .hero-text{ margin-bottom:32px; }
  }

  @include respond(sm){
    .hero-inner{ padding-left:16px; padding-right:16px; }
    .hero-title{ font-size:30px; }
  }

  @include respond(s){
    .hero-copy{ text-align:center; margin-left:auto; margin-right:auto; }
    .hero-title{ margin-left:auto; margin-right:auto; }
    .btn{ display:flex; margin-left:auto; margin-right:auto; }
  }
}
