div > p {
    background-color: yellow;
}

h1 {
    color: blue;
}

.red-text {
    color: red;
}

#unique {
    color: green;
}

[title] {
    color: purple;
}

section span {
    color: orange;
}

ul > li {
    color: brown;
}

.box.sequence p {
    color: teal;
}

h2.highlight {
    color: pink;
}

button[type="button"] {
    color: darkred;
}

#special.fancy {
    color: darkblue;
}
