@use "sass:map";

$breakpoints: (
  xs: 340px,
  s: 400px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin respond($bp, $dir: max) {
  $size: map.get($breakpoints, $bp);
  @if $size == null {
    @error "Unknown breakpoint: #{$bp}";
  }
  @if $dir == max {
    @media (max-width: $size) { @content; }
  } @else if $dir == min {
    @media (min-width: $size) { @content; }
  } @else {
    @error "Unknown direction: #{$dir}. Use ''max'' or ''min''.";
  }
}
